# Event generator test simulation

app_style	template

state_style lattice file lattice.dat

site 10 int 2


neigborhood nb0 self

property occ_self nb0 (sum $i0) = 1

neigborhood nb1 nearest 1

property dn_nb nb1 (sum $i0) < 2

property up_nb nb1 (sum $i0) > 2


property down union occ_self dn_nb

transition down_flip down  $i0 0.5 set 0

property up union (not occ_self) up_nb

transition up_flip up  $i0 0.5 set 0


stats           1.0

run		10.0
